:root {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: aliceblue;
  background-color: #000;
  opacity: 0.8;
  background-image: radial-gradient(
      #cb22c3 0.12000000000000002rem,
      transparent 0.12000000000000002rem
    ),
    radial-gradient(#cb22c3 0.12000000000000002rem, #000 0.12000000000000002rem);
  background-size: 4.8rem 4.8rem;
  background-position: 0 0, 2.4rem 2.4rem;
  
}