/* .name {
  size: 10px;
  text-shadow: 2px 2px 2px rgb(233, 233, 233);
} */
:root {
  font-size: 62.5%;
}

.artist {
  width: 25.0rem;
  display: inline-block;
  text-align: center;
  padding: 1.0rem;
  margin: auto;
}

.image {
  border: 0.25rem dashed #cb22c3ac;
  border-radius: 20%;
}
.image:hover {
  border: 0.2rem solid #fff;
  -moz-box-shadow: 0rem 0.6rem 0.5rem #cb22c3;
  -webkit-box-shadow: 0rem 0.6rem 0.5rem #cb22c3;
  box-shadow: 0.2rem 0.6rem 0.5rem #cb22c3;
  -moz-border-radius: 25%;
  -webkit-border-radius: 25%;
  border-radius: 25%;
}

.members {
  display: inline-block;
  /* place it at the top */
  vertical-align: top;
}
.all {
  display: inline-block;
}

body {
  font-size: 1.6rem;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: aliceblue;
  background-color: #000;
  opacity: 0.8;
  background-image: radial-gradient(
      #cb22c3 0.12000000000000002rem,
      transparent 0.12000000000000002rem
    ),
    radial-gradient(#cb22c3 0.12000000000000002rem, #000 0.12000000000000002rem);
  background-size: 4.8rem 4.8rem;
  background-position: 0 0, 2.4rem 2.4rem;
}
