/* .name {
  size: 10px;
  text-shadow: 2px 2px 2px rgb(233, 233, 233);
} */

.artist {
  width: 250px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: auto;
}

.image {
  border: 0.25rem dashed #cb22c3ac;
  border-radius: 20%;
}
.image:hover {
  border: 2px solid #fff;
  -moz-box-shadow: 0px 6px 5px #cb22c3;
  -webkit-box-shadow: 0px 6px 5px #cb22c3;
  box-shadow: 2px 6px 5px #cb22c3;
  -moz-border-radius: 25%;
  -webkit-border-radius: 25%;
  border-radius: 25%;
}

body {
  text-align: center;
  color: aliceblue;
  background-color: #000;
  opacity: 0.8;
  background-image: radial-gradient(
      #cb22c3 1.2000000000000002px,
      transparent 1.2000000000000002px
    ),
    radial-gradient(#cb22c3 1.2000000000000002px, #000 1.2000000000000002px);
  background-size: 48px 48px;
  background-position: 0 0, 24px 24px;
  font-family: "Quicksand", sans-serif;
}
