<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist</title>
    <link rel="stylesheet" href="/css/artists.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="/">
      <button>Back to main page</button>
    </a>
    <h1>{{.Name}}</h1>
    <img src="{{.Image}}" alt="Artist Image" />

    <h2>Creation date: {{.CreationDate}}</h2>
    <h2>First album: {{.FirstAlbum}}</h2>
    <h2>Concert Locations</h2>
    {{range $i, $e := .Relations}}
    <h3>{{$i}}</h3>
    <!--Remove brackets from element-->
    <p>{{index $e 0}}</p>
    {{end}}
  </body>
</html>
