<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artist</title>
    <link rel="stylesheet" href="/css/artists.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="profile">
        <h1 class="profile__name">{{.Name}}</h1>
        <div class="profile__info">
          <img src="{{.Image}}" alt="Artist Image" class="image" />
          <h2 class="profile__info__date">EST. {{.CreationDate}}</h2>
          <h2>First album: {{.FirstAlbum}}</h2>
          <h2>Members</h2>
          {{range .Members}}
          <p>{{.}}</p>
          {{end}}
        </div>
        <div class="concerts">
          <h2>Concert Locations</h2>
          {{range $i, $e := .Relations}}
          <h3>{{$i}}</h3>
          <!--Removes brackets from element-->
          <p>{{index $e 0}}</p>
          {{end}}
        </div>
        <div class="button">
          <a href="/">
            <button>Back</button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
