<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Groupie Tracker</h1>

    {{range $i, $e := .}}
    <div class="artist">
      <h2 class="name">{{$e.Name}}</h2>
      <a href="{{$e.Id}}">
        <img
          src="{{$e.Image}}"
          alt="picture of the artists album"
          class="image"
        />
      </a>
    </div>
    {{end}}
  </body>
</html>
